name: "Build & Release"

on:
  push:
    branches: [ "main", "master" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    name: Build & Release
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - run: flutter pub get

      # Build Android (Split per ABI)
      - run: flutter build apk --release --split-per-abi

      # Build iOS (Unsigned)
      - run: |
          flutter build ios --release --no-codesign
          cd build/ios/iphoneos
          mkdir Payload
          cd Payload
          ln -s ../Runner.app
          cd ..
          zip -r app.ipa Payload

      # Push to Releases
      - name: Push to Releases
        if: startsWith(github.ref, 'refs/tags/v')
        uses: ncipollo/release-action@v1
        with:
          # Updated Path: 'flutter-apk' instead of 'apk/release'
          artifacts: "build/app/outputs/flutter-apk/*.apk,build/ios/iphoneos/app.ipa"
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true  # Allows updating an existing release
