name: "Build & Release"

on:
  push:
    branches:
      - "main"
      - "master"
      - "develop"
    tags:
      - "v*"  # Runs the release step only when you push a tag like v1.0
  pull_request:
    branches:
      - "main"
      - "master"

jobs:
  build:
    name: Build & Release
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      
      # Use Java 17 for better Gradle compatibility
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - run: flutter pub get

      # Build Android
      - run: flutter build apk --release --split-per-abi

      # Build iOS (Unsigned)
      - run: |
          flutter build ios --release --no-codesign
          cd build/ios/iphoneos
          mkdir Payload
          cd Payload
          ln -s ../Runner.app
          cd ..
          zip -r app.ipa Payload

      # ONLY Create a Release if a Tag was pushed (e.g., v1.0.5)
      - name: Push to Releases
        if: startsWith(github.ref, 'refs/tags/v')
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/apk/release/*.apk,build/ios/iphoneos/app.ipa"
          token: ${{ secrets.GITHUB_TOKEN }}
